# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.unityproj

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# .NET build outputs
MyServer/bin/
Shared/Shared/bin/

# Unity generated DLLs (optional if you rebuild from source)
MyClient/Assets/Plugins/*.dll